@{
  Layout = "_Layout";
}

@model LocalLookupMVC.Models.City

<div>

  <div class='entryLabel'>
    <h4>Add a new City</h4>
  </div>
  <div class='entry'>

    @using (Html.BeginForm())
    {

      <input type="submit" value="Add new City"/>
    }
  </div>
</div>
<p>@Html.ActionLink("Show all Cities", "Index")</p>